body {
    
}
h1,h2,h3,input,legend,p, h4, label,li,a {
    font-family: sans-serif;
}

legend{
    font-size: larger;
}
input,textarea{
}

.site_header{
    background-color: rgb(230, 228, 228);
   
}