html{height:100%}
body {
    background-color:rgb(19, 19, 19);
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100%;
}
h1,h2,h3,input,legend,p, h4, label,li,a,textarea,button,select {
    font-family: sans-serif;
    color:antiquewhite
}
input::placeholder{color:rgb(160,160,160);}
textarea{ background-color: rgb(16,16,16);}
a:visited {color:#8583fa} /*Colour of link when it's been clicked before*/
legend{font-size: larger;} /*Make sure legend (The "title" of each formdiv is larger*/
input,select{
    border:none; /*Remove 90s looking border from all inputs including buttons etc*/
    background-color: #4d5da5;}



.header_company_title /*Apperance of text for the company title in the header*/
{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color:rgb(218, 218, 218)
}

.header_company_logo {height: 100%;} /*Make sure logo doesn't become larger than header*/

.header_item{
    height: 100%;
    align-content: center;
    padding-right: 10px;
}
.site_header{
    background-color: rgba(25,25,25);/* rgb(32, 42, 179);*/
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top:0px;
    height:50px;
    width:100%;
}
.site_footer{
    width: 100%;
    height: 40px;
    /*position:fixed;*/
    left:0px;
    bottom:0px;
    background-color: rgb(25, 25, 25);
    display:flex;
    justify-content: space-around;
    padding: 10px;
}
.site_footer_copyright{
    color:white;
}
.site_footer div{
    align-self: center;
}
.site_content{
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 60px;
    flex-grow: 1;
}
.site_content_index_background{
    background-image: url("img/stock_computer_2.png");
    background-color: "#fffff";
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
}

.site_form_submit{
    width:45%;
    height:40px;
    background-color:rgb(144, 218, 101);
}
.site_form_submit:hover{ background-color: rgb(120, 180, 70); }
.site_form_reset{
    width:45%;
    height:40px;
    background-color: rgb(248, 131, 131);
}
.site_form_reset:hover{ background-color: rgb(200, 110 ,110); }



/*
    Dropdown menu for page header originally sourced from
    https://www.w3schools.com/howto/howto_css_dropdown.asp
*/

/* Dropdown Button */
.dropbtn {
    background-color: #9aacff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width:100%;
    height:100%;
    min-width: 80px;

  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
margin-left: auto; 
margin-right: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #333333;
width:100%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: rgb(202, 200, 200);
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #444444;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #8583fa;}