html{height:100%} /* Lachlan - Ensuring height is set to 100% of page, Related to ensuring that divs can fill page*/

body { 
    background-color:rgb(19, 19, 19);/* Lachlan - Set background colour to near black*/
    margin:0; /*Lachlan - Set margin to zero so header/footer can fill page*/
    display:flex;
    flex-direction: column; /*Lachlan - Ensure flow of elements is vertical overall*/
    height: 100%; /* Lachlan - Ensuring height is set to 100% of page, Related to ensuring that divs can fill page*/
}

h1,h2,h3,input,legend,p, h4, label,li,a,textarea,button,select,span { /* Lachlan - Set font-family and color for almost all elements used*/
    font-family: sans-serif;
    color:antiquewhite;
    border:none; /*Remove border from buttons, inputs and the like*/
}

input::placeholder{color:rgb(160,160,160);} /*Lachlan - Change colour of placeholder text for input */

a:visited {color:#8583fa} /*Lachlan - Colour of link when it's been clicked before*/

textarea{ background-color: rgb(16,16,16);} /*-Lachlan*/

legend{font-size: larger;} /*Lachlan - Make sure legend (The "title" of each formdiv is larger*/

input,select{ /* - Lachlan*/
    background-color: #4d5da5;
}

.site_content{ /* Lachlan - Think of this as a custom body class for divs */
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 60px;
    flex-grow: 1;
}