html{height:100%} /* Lachlan - Ensuring height is set to 100% of page, Related to ensuring that divs can fill page*/

body { 
    background-color:rgb(19, 19, 19);/* Lachlan - Set background colour to near black*/
    margin:0; /*Lachlan - Set margin to zero so header/footer can fill page*/
    display:flex;
    flex-direction: column; /*Lachlan - Ensure flow of elements is vertical overall*/
    height: 100%; /* Lachlan - Ensuring height is set to 100% of page, Related to ensuring that divs can fill page*/
}

h1,h2,h3,input,legend,p, h4, label,li,a,textarea,button,select,span { /* Lachlan - Set font-family and color for almost all elements used*/
    font-family: sans-serif;
    color:antiquewhite;
    border:none; /*Remove border from buttons, inputs and the like*/
}

input::placeholder{color:rgb(160,160,160);} /*Lachlan - Change colour of placeholder text for input */

a:visited {color:#8583fa} /*Lachlan - Colour of link when it's been clicked before*/

textarea{ /*-Lachlan*/
    background-color: rgb(16,16,16);
    width: 100%;
    min-height: 100px;
} 

legend{font-size: larger;} /*Lachlan - Make sure legend (The "title" of each formdiv is larger*/

input,select{ /* - Lachlan, background of colors*/
    background-color: #4d5da5;
}
input:hover, select:hover { /*Fade background of inputs to darker colour*/
    background-color: #2b3871;
}

div, button, input, select, option,textarea, li, section, label,a, fieldset { /* Lachlan - Make everything rounded*/
    border-radius: 10px;
    transition: background-color 250ms;/*Make any CSS change to background-colour fade transition in 250ms*/
}



/*=========================================================================*/
/*Whole site*/
/*=========================================================================*/
.site_content{ /* Lachlan - Think of this as a custom body class for divs */
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 60px;
    flex-grow: 1; /*ensure it fills the site content area*/
    border-radius: 0; /*Override the roundness attributes set above*/
}

/*=========================================================================*/


/*=========================================================================*/
/*index.html*/
/*=========================================================================*/
.site_content_index_background{ /* Lachlan - (Version for index.html with background) Think of this as a custom body class for divs */
    padding-left: 2%;
    padding-right: 2%;
    background-image: url("images/stock_computer_2.png"); /*set background picture to this*/
    background-size: cover; /*Cover avaiable area with it*/
    flex-grow: 1;
    border-radius: 0;
}

.site_content_index_amazingquote{ /*Lachlan - For the centered quotes */
    text-align: center;
    color:whitesmoke;
}
.site_content_index_logo{ /*Lachlan - For logo image*/
    height: 80px;
    width: auto;
}
.site_content_index_details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/*=========================================================================*/
/*apply.html*/
/*=========================================================================*/
.site_form_container { /*Lachlan - For the container that contains all the form submission things*/
    background-color: rgb(26, 26, 26);
    padding: 1%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.site_form_container_section{
    background-color: #131313;

}
.site_form_submit_area { /*Lachlan - For the submit and reset buttons, makes sure they are spread evenly horizontally*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly; 
}
.site_form_submit{ /*Lachlan - Size and colour for submit button on application form*/
    width:45%;
    height:40px;
    background-color:rgb(144, 218, 101);
}

.site_form_submit:hover{ background-color: rgb(120, 180, 70); } /*Lachlan - hover colour for submit*/

.site_form_reset{ /*Lachlan - Size and colour for reset button on application form*/
    width:45%;
    height:40px;
    background-color: rgb(248, 131, 131);
}

.site_form_reset:hover{ background-color: rgb(200, 110 ,110); } /*Lachlan - hover colur for reset*/

/*=========================================================================*/


/*=========================================================================*/
/*Top bar*/
/*=========================================================================*/
.site_header_company_logo {height: 100%;} /*Lachlan - Make sure logo doesn't become larger 
than header by setting it to, and thus restricting it to 100%*/
.site_header_menu_image {height: 50%; width:auto; min-height: 10px; min-width: 10px;}

.site_header_item{ /*Lachlan - Just related to layout stuff*/
    height: 100%;
    align-content: center;
}

.site_header{ /*Lachlan - actual class for the header at the top of the page */
    /*Not to be confused with HTML Header tags for metadata, this is for the topbar*/
    background-color: rgba(25,25,25);/* rgb(32, 42, 179);*/
    display: flex;
    flex-direction: row;
    height:10%;
    width:100%;
}

.site_footer{ /*Lachlan - Custom Footer class for a div that goes inside <footer> tag */
    width: 100%;
    height: 25px;
    background-color: rgb(25, 25, 25);
    display:flex;
    justify-content: space-between; /*Spread contents evenly around*/
    align-items: center;
}

/*
    Dropdown menu for page header originally sourced from
    https://www.w3schools.com/howto/howto_css_dropdown.asp
*/

/* The container <div> - needed to position the dropdown content */
.site_menu_dropdown {
    position: relative;
    margin-left: auto; 
    margin-right: 0;
    height:100%;
}

/* Dropdown Button */
.site_menu_dropdown_button {
    background-color: #9aacff;
    border: none;
    width:100%;
    height:100%;
    min-width: 80px;
}

/* Dropdown Content (Hidden by Default) */
.site_menu_dropdown_content {
    display: none;
    position: absolute;
    background-color: #333333;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.site_menu_dropdown_content a {
color: rgb(202, 200, 200);
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.site_menu_dropdown_content a:hover {background-color: #444444;}

/* Show the dropdown menu on hover */
.site_menu_dropdown:hover .site_menu_dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.site_menu_dropdown:hover .site_menu_dropdown_button {background-color: #8583fa;}
/*=========================================================================*/